#{extends 'main.html'/}

<style type="text/css">
    .instructions {
        display: none;
    }

    .instructions li {
        margin-bottom: 10px;
    }

    .instructions h2 {
        margin: 18px 0;
    }

    .instructions blockquote {
        margin-top: 10px;
    }

    .screenshot {
        margin-top: 10px;
        display: block;
    }

    .screenshot a {
        padding: 0;
        line-height: 1;
        display: inline-block;
        text-decoration: none;
    }

    .screenshot img {
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .modal {
        width: 800px;
        margin-left: -400px;
        height: 650px;
        margin-top: -325px;
    }

    .modal .modal-body {
        text-align: center;
        max-height: 650px;
    }

</style>
<!-- /// -->
<script type="text/javascript">
    <!--
    function appname() {
        return location.hostname.substring(0, location.hostname.indexOf("."));
    }
    // -->
</script>

<div class="row">
<div class="span8 offset2">
<h1 class="alert alert-success">Aplicación: campeonatos de RPS!</h1>

<div class="page-header">
    <h1>Rock - Paper -Scissors!</h1>
</div>

<div style="margin-bottom: 20px">
    Solución a la programación solicitada:
    Esta aplicación utiliza el framework play.
    Permite el registro de juegadores en base a campeonatos que pueden ser cargados.
    Acá se puede ver el historial de campeonatos <a href="/people"> Ranking </a>.
    Utilize las partidas precargadas o el seleccionador de archivos para subir un nuevo campeonato.

    <p>
    Eliminar registro Partidas de la base de datos <form action="@{People.delete_all()}" method="POST" enctype="multipart/form-data">
    <input type="submit" value="Borrar regsitros!" />
    <p>
</form>

</div>

<ul id="tab" class="nav nav-tabs">
    <li class="active"><a id="eclipse-instructions-tab" href="#eclipse-instructions" data-toggle="tab">Cargar un archivo de torneo</a></li>
    <li><a id="cli-instructions-tab" href="#cli-instructions" data-toggle="tab">Torneos precargados</a></li>
</ul>

<div class="tab-content">

<div id="eclipse-instructions" class="instructions tab-pane active">
<a name="using-eclipse"></a>


<h2>Seleccione el archivo a subir!</h2>
<ol>

<form action="@{Instructions.uploadTextFile()}" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" />
    <input type="file" id="textFile" name="textFile" />
    <input type="submit" value="Ejecutar campeonato!" />
</form>

<h1>${ganador}</h1>

</ol>


</div>
<!-- End Eclipse tab-->

<div id="cli-instructions" class="instructions tab-pane">
    <a name="using-cli"></a>

    <h1>Torneos precargados:</h1>

    <h2>Seleccione el torneo a ejecutar o descargar</h2>
    <ol>
        <li>Torneo 1  <a href="https://dl.dropboxusercontent.com/u/6822814/champ.txt">descargar</a><form action="@{Instructions.load_game()}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="URL_d" value="https://dl.dropboxusercontent.com/u/6822814/champ.txt"/>
    <input type="submit" value="Ejecutar!" />
</form></li>
        <li>Torneo 2 <a href="https://dl.dropboxusercontent.com/u/6822814/champ_2.txt~">descargar</a><form action="@{Instructions.load_game()}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="URL_d" value="https://dl.dropboxusercontent.com/u/6822814/champ_2.txt"/>
    <input type="submit" value="Ejecutar!" />
</form></li>
        <li>Torneo 3 <a href="https://dl.dropboxusercontent.com/u/6822814/champ_3.txt">descargar</a><form action="@{Instructions.load_game()}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="URL_d" value="https://dl.dropboxusercontent.com/u/6822814/champ_3.txt"/>
    <input type="submit" value="Ejecutar!" />
</form></li>
	<li>Torneo 4 <a href="https://dl.dropboxusercontent.com/u/6822814/champ_4.txt">descargar</a><form action="@{Instructions.load_game()}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="URL_d" value="https://dl.dropboxusercontent.com/u/6822814/champ_4.txt"/>
    <input type="submit" value="Ejecutar!" />
</form></li>
    </ol>


</div>
<!-- End CLI tab -->
</div>
<!-- end tab content -->
</div>
</div>
